name: PDF Compress every 5 min

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Show repo files
        run: ls -la

      - name: Run job
        env:
          GOOGLE_SERVICE_ACCOUNT_JSON: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          SPREADSHEET_ID: "1JPJ5q2vTvybxlsX29r-YXL3mUBH0Piewz2AIJlSfLwc"
          SHEET_NAME: "Dispatch Details"
          COL_URL: "9"
          COL_INVOICE: "7"
          START_ROW: "2"
          COL_OUTPUT: "12"
          COL_FLAG: "13"
          DEST_FOLDER_ID: "14WG909MU8e-GepUIe41PQ9yLev22wChK"
        run: |
          python runner.py
